<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.GameMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.Game">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="STUDIO" jdbcType="INTEGER" property="studio" />
    <!--association property="studio" columnPrefix="studio_" resultMap="mybatis.dao.StudioMapper.BaseResultMap"/-->
    <collection property="players" javaType="ArrayList" ofType="Player" column="id" select="selectPlayersForGame"/>
  </resultMap>
  <select id="selectPlayersForGame" resultType="Player">
    select p.id, p.handle
    from PUBLIC.PLAYER p
        join GAME_PLAYER GP on p.ID = GP.PLAYERS_ID
    where GP.GAMES_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PUBLIC.GAME
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="mybatis.model.Game" useGeneratedKeys="true">
    insert into PUBLIC.GAME (TITLE, STUDIO)
    values (#{title,jdbcType=VARCHAR}, #{studio,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="mybatis.model.Game">
    update PUBLIC.GAME
    set TITLE = #{title,jdbcType=VARCHAR},
      STUDIO = #{studio,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, TITLE, STUDIO
    from PUBLIC.GAME
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, TITLE, STUDIO
    from PUBLIC.GAME
    left join STUDIO S on S.ID = GAME.STUDIO
  </select>
</mapper>