<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.PlayerMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.Player">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="HANDLE" jdbcType="VARCHAR" property="handle" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PUBLIC.PLAYER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="mybatis.model.Player" useGeneratedKeys="true">
    insert into PUBLIC.PLAYER (HANDLE)
    values (#{handle,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="mybatis.model.Player">
    update PUBLIC.PLAYER
    set HANDLE = #{handle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, HANDLE
    from PUBLIC.PLAYER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, HANDLE
    from PUBLIC.PLAYER
  </select>
</mapper>